@(cat: Cat)

<!DOCTYPE html>

<html>
    <head>
        <title>Catworthy: @cat</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.konami.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/cat.js")" type="text/javascript"></script>
    </head>
    <body>
        <img alt="catworthy" src="@routes.Assets.at("images/logo.png")" />
    	@* "Fork Me On Github" ribbon *@
        <a href="https://github.com/nathanharper/catworthy">
        	<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
       	</a>

        <h2>@cat.title</h2>
        <div>@cat.subcopy</div>
        <img alt="rat" src="@routes.Assets.at("images/" + cat.image)" />
    </body>
</html>
